.Enf-manha {
    background-color: green;
}

.Amb-manha {
    background-color: lightcoral;
}

.Amb-tarde {
    background-color: orange;
}

.Pla-manha {
    background-color: deepskyblue;
}

.Pla-noite {
    background-color: cadetblue;
}

.PosP {
    background-color: mediumpurple;
}

.Aula {
    background-color: orangered;
}
