.typeBlock{
    display: inline-flex;
    width: 100%;
}

.typeDiv{
    width: 40%;
    padding: 0;
    margin: auto;
}

.inlineDiv {
    display: inline-list-item;
    width: 60%;
}

.labelWidth {
    width: 165px;
    border: 1px antiquewhite solid;
}

.eventLabels {
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}