.inlineDiv {
    display: inline-flex;
}

.labelWidth {
    width: 165px;
    border: 1px antiquewhite solid;
}

.eventLabels {
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.labelsCentered{
    margin: 0 auto 0 auto;
}